%estilosHeader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-weight: bolder;
        height: 90vh;
}

%estilosHeader2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-weight: bolder;
        height: 70vh;
}